<div class="cart-ordered">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Food</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <div class="cart-ordered__delete">
                            <button class="cart-ordered__delete-btn">
                                <img src="./assets/icons/delete.svg" class="cart-ordered__delete-icon" alt="" />
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="cart-ordered__thumb">
                            <img
                                src="./assets/images/menu/menu-breakfast-03.png"
                                class="cart-ordered__thumb-item"
                                alt=""
                            />
                        </div>
                    </td>
                    <td data-label="Food">Crispy chicken breasts</td>
                    <td data-label="Price">$24.99</td>
                    <td data-label="Quantity">
                        <div class="cart-item__input">
                            <div class="cart-item__input-left">
                                <button class="cart-item__input-btn cart-item__input-row">
                                    <img src="./assets/icons/minus.svg" alt="" />
                                </button>
                                <p class="cart-item__input-quantity cart-item__input-row">1</p>
                                <button class="cart-item__input-btn cart-item__input-row">
                                    <img src="./assets/icons/plus.svg" alt="" />
                                </button>
                            </div>
                        </div>
                    </td>
                    <td data-label="Subtotal">$24.99</td>
                </tr>

                <tr>
                    <td>
                        <div class="cart-ordered__delete">
                            <button class="cart-ordered__delete-btn">
                                <img src="./assets/icons/delete.svg" class="cart-ordered__delete-icon" alt="" />
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="cart-ordered__thumb">
                            <img
                                src="./assets/images/menu/menu-breakfast-01.png"
                                class="cart-ordered__thumb-item"
                                alt=""
                            />
                        </div>
                    </td>
                    <td data-label="Food">Spaghetti Napoletana</td>
                    <td data-label="Price">$59.00</td>
                    <td data-label="Quantity">
                        <div class="cart-item__input">
                            <div class="cart-item__input-left">
                                <button class="cart-item__input-btn cart-item__input-row">
                                    <img src="./assets/icons/minus.svg" alt="" />
                                </button>
                                <p class="cart-item__input-quantity cart-item__input-row">1</p>
                                <button class="cart-item__input-btn cart-item__input-row">
                                    <img src="./assets/icons/plus.svg" alt="" />
                                </button>
                            </div>
                        </div>
                    </td>
                    <td data-label="Subtotal">$59.00</td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="cart-ordered__voucher">
                            <button class="cart-ordered__btn cart-ordered__voucher-code">Coupon code</button>
                            <button class="btn btn--primary cart-ordered__btn cart-ordered__voucher-apply">
                                Apply coupon
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="cart-ordered__update">
                            <button class="btn btn--primary cart-ordered__btn cart-ordered__update-btn">
                                Update Cart
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
