<div class="container">
    <div class="cart-total">
        <div class="row">
            <div class="col col-lg-4 col-md-12"></div>
            <div class="col col-lg-8 col-md-12">
                <h4 class="cart-total__title">Cart totals</h4>

                <div class="cart-total__form">
                    <div class="row">
                        <div class="col col-5 col-xl-4 col-lg-3">
                            <p class="cart-total__sub-title">Subtotal</p>
                        </div>
                        <div class="col col-7 col-xl-8 col-lg-9">
                            <p class="cart-total__value">$83.99</p>
                        </div>
                    </div>

                    <div class="cart-total__main-content">
                        <div class="row">
                            <div class="col col-5 col-xl-4 col-lg-3">
                                <p class="cart-total__sub-title">Shipping</p>
                            </div>

                            <div class="col col-7 col-xl-8 col-lg-9">
                                <div class="cart-total-shipping">
                                    <div class="cart-total-shipping__price">
                                        <p class="cart-total-shipping__title">Flat rate:</p>
                                        <p class="cart-total-shipping__value">$6.00</p>
                                    </div>

                                    <div class="cart-total-shipping__address">
                                        <p class="cart-total-shipping__title">Shipping to</p>
                                        <p class="cart-total-shipping__value">New South Wales.</p>
                                    </div>
                                    <div class="cart-total-shipping__form">
                                        <label class="cart-total-shipping__change">
                                            <p class="cart-total-shipping__title">Change address</p>
                                            <img
                                                src="./assets/icons/truct.svg"
                                                alt=""
                                                class="cart-total-shipping__icon"
                                            />
                                        </label>

                                        <div class="cart-total-shipping__input">
                                            <input
                                                type="text"
                                                placeholder="Country"
                                                class="cart-total-shipping__text"
                                            />
                                            <img
                                                src="./assets/icons/arrow-down.svg"
                                                alt=""
                                                class="cart-total-shipping__arrow"
                                            />
                                        </div>

                                        <div class="cart-total-shipping__input">
                                            <input
                                                type="text"
                                                placeholder="Province"
                                                class="cart-total-shipping__text"
                                            />
                                            <img
                                                src="./assets/icons/arrow-down.svg"
                                                alt=""
                                                class="cart-total-shipping__arrow"
                                            />
                                        </div>

                                        <div class="cart-total-shipping__input">
                                            <input
                                                type="text"
                                                placeholder="District"
                                                class="cart-total-shipping__text"
                                            />
                                            <img
                                                src="./assets/icons/arrow-down.svg"
                                                alt=""
                                                class="cart-total-shipping__arrow"
                                            />
                                        </div>

                                        <div class="cart-total-shipping__input">
                                            <input
                                                type="text"
                                                placeholder="Specific address"
                                                class="cart-total-shipping__text"
                                            />
                                        </div>
                                        <div class="cart-total-shipping__input">
                                            <input
                                                type="text"
                                                placeholder="Postcode"
                                                class="cart-total-shipping__text"
                                            />
                                        </div>
                                    </div>

                                    <button type="submit" class="cart-total-shipping__btn">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-5 col-xl-4 col-lg-3">
                            <p class="cart-total__sub-title">Total</p>
                        </div>
                        <div class="col col-7 col-xl-8 col-lg-9">
                            <p class="cart-total__value">$89.99</p>
                        </div>
                    </div>
                </div>

                <div class="cart-total__checkout">
                    <a href="./checkout.html" class="cart-total__link">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
