<div class="container">
    <div class="coming-soon-01">
        <div class="row">
            <div class="col">
                <div class="coming-soon-01__left">
                    <h1 class="coming-soon__heading">Subscribe Newsletter & get letest news</h1>
                    <p class="coming-soon__desc">
                        Our being able to do what we like best, every pleasure is to be welcomed and every pain avoided
                        certain.
                    </p>

                    <div class="coming-soon__time">
                        <div class="row">
                            <div class="col">
                                <div class="coming-soon__time--item">
                                    <span class="coming-soon__time--number">98</span>
                                    <span class="coming-soon__time--text">Days</span>
                                </div>

                                <div class="coming-soon__time--item">
                                    <span class="coming-soon__time--number">03</span>
                                    <span class="coming-soon__time--text">Hour</span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="coming-soon__time--item">
                                    <span class="coming-soon__time--number">25</span>
                                    <span class="coming-soon__time--text">Minutes</span>
                                </div>

                                <div class="coming-soon__time--item">
                                    <span class="coming-soon__time--number">12</span>
                                    <span class="coming-soon__time--text">Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="./" class="coming-soon__link btn btn--text">Go to Home</a>
                </div>
            </div>

            <div class="col">
                <div class="coming-soon-01__right">
                    <img src="./assets/images/coming-soon/coming-soon-01.png" alt="" class="coming-soon-01__thumb" />
                    <img src="./assets/icons/flower.svg " alt="" class="coming-soon-01__thumb" />
                </div>
            </div>
        </div>
    </div>
</div>
