<div class="countdown">
    <div class="container">
        <div class="countdown__inner">
            <ul class="countdown__list">
                <li class="countdown__item">
                    <span class="countdown__left">06</span>
                    <span class="countdown__right">Number Restaurant</span>
                </li>

                <li class="countdown__item">
                    <span class="countdown__left">68</span>
                    <span class="countdown__right">New Food Menu Dishes</span>
                </li>

                <li class="countdown__item">
                    <span class="countdown__left">36</span>
                    <span class="countdown__right">Years of experience</span>
                </li>
            </ul>
        </div>
    </div>
</div>
