<div class="countdown-02">
    <div class="container">
        <div class="countdown-02__inner">
            <ul class="countdown-02__list">
                <li class="countdown-02__item">
                    <span class="countdown-02__title">241</span>
                    <span class="countdown-02__desc">Ingredients</span>
                </li>

                <li class="countdown-02__item">
                    <span class="countdown-02__title">708</span>
                    <span class="countdown-02__desc">Clients Daily</span>
                </li>

                <li class="countdown-02__item">
                    <span class="countdown-02__title">18</span>
                    <span class="countdown-02__desc">Years of Experience</span>
                </li>
                <li class="countdown-02__item">
                    <span class="countdown-02__title">90</span>
                    <span class="countdown-02__desc">Fresh & Halal</span>
                </li>
            </ul>
        </div>
    </div>
</div>
