<div class="countdown-02 countdown-05">
    <div class="container">
        <div class="countdown-02__inner countdown-05__inner">
            <ul class="countdown-02__list">
                <li class="countdown-02__item countdown-05__item">
                    <span class="countdown-02__title countdown-05__title">Our Online</span>
                    <span class="countdown-02__desc countdown-05__desc"
                        >245-5Waterview Lane New <br />
                        Mexico, 87120</span
                    >
                </li>

                <li class="countdown-02__item countdown-05__item">
                    <span class="countdown-02__title countdown-05__title">Our Address</span>
                    <span class="countdown-02__desc countdown-05__desc"
                        >0123-456-7890 <br />
                        0123-654-7890</span
                    >
                </li>

                <li class="countdown-02__item countdown-05__item">
                    <span class="countdown-02__title countdown-05__title">Our Hours</span>
                    <span class="countdown-02__desc countdown-05__desc"
                        >Mon - Fri 09:00 AM - 10:00 PM <br />
                        Sat - Sun 09:00 AM - 10:00 PM</span
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
