<div class="countdown-02">
    <div class="container">
        <div class="countdown-02__inner">
            <ul class="countdown-02__list">
                <li class="countdown-02__item">
                    <span class="countdown-02__title">253</span>
                    <span class="countdown-02__desc">Consumer Countries</span>
                </li>

                <li class="countdown-02__item">
                    <span class="countdown-02__title">89</span>
                    <span class="countdown-02__desc">Coffee Pickers</span>
                </li>

                <li class="countdown-02__item">
                    <span class="countdown-02__title">265</span>
                    <span class="countdown-02__desc">Hectares of Plantations</span>
                </li>
                <li class="countdown-02__item">
                    <span class="countdown-02__title">68</span>
                    <span class="countdown-02__desc">Hectares of Plantations</span>
                </li>
            </ul>
        </div>
    </div>
</div>
