<div class="countdown-04">
    <div class="container">
        <div class="countdown-04__inner">
            <ul class="countdown-04__list">
                <li class="countdown-04__item">
                    <div class="countdown-04__left">
                        <img src="./assets/icons/traced-01.svg" alt="" class="countdown-04__icon" />
                    </div>
                    <div class="countdown-04__right">
                        <span class="countdown-04__title">7500+</span>
                        <span class="countdown-04__desc">Happy Customers</span>
                    </div>
                </li>

                <li class="countdown-04__item">
                    <div class="countdown-04__left">
                        <img src="./assets/icons/traced-02.svg" alt="" class="countdown-04__icon" />
                    </div>
                    <div class="countdown-04__right">
                        <span class="countdown-04__title">39</span>
                        <span class="countdown-04__desc">Passionate Chef’s</span>
                    </div>
                </li>

                <li class="countdown-04__item">
                    <div class="countdown-04__left">
                        <img src="./assets/icons/traced-03.svg" alt="" class="countdown-04__icon" />
                    </div>
                    <div class="countdown-04__right">
                        <span class="countdown-04__title">286</span>
                        <span class="countdown-04__desc">Passionate Chef’s</span>
                    </div>
                </li>

                <li class="countdown-04__item">
                    <div class="countdown-04__left">
                        <img src="./assets/icons/traced-04.svg" alt="" class="countdown-04__icon" />
                    </div>
                    <div class="countdown-04__right">
                        <span class="countdown-04__title">4.5</span>
                        <span class="countdown-04__desc">Customer Rating</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
