<div class="container">
    <a href="./" class="logo footer__logo d-none d-md-flex">
        <img src="./assets/icons/logo.svg" alt="Quán nhậu Tự do" class="icon logo__img" />
        <h1 class="logo__title footer__logo-title">Nhà Hàng Tự Do</h1>
    </a>
    <div class="footer__row">
        <!-- Footer Column 1 -->
        <div class="footer__col d-md-none">
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="Quán nhậu Tự do" class="icon logo__img" />
                <h1 class="logo__title footer__logo-title">Nhà Hàng Tự Do</h1>
            </a>

            <div class="footer-link d-md-none">
                <p class="footer-link__desc">Download the WowWraps app today.</p>
                <div class="footer-link__thumbs">
                    <a href="#!">
                        <img src="./assets/images/link-app/ios-app.png" alt="" class="footer-link__thumb" />
                    </a>
                    <a href="#!">
                        <img src="./assets/images/link-app/android-app.png" alt="" class="footer-link__thumb" />
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer Column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Usefull Link</h3>
            <ul class="footer__list">
                <li>
                    <a href="./index.html" class="footer__link">Home</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">About Us</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Services</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Booking</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Menu</a>
                </li>
            </ul>
        </div>

        <!-- Footer Column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Contact Info</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__link">Silk St, Barbican, London EC2Y 8DS, UK</p>
                </li>
                <li>
                    <a href="mailto:contact@nhahangtudo.com" class="footer__link">contact@nhahangtudo.com</a>
                </li>
                <li>
                    <a href="tel:18008888" class="footer__link">800-123-45-678</a>
                </li>
            </ul>
        </div>

        <!-- Footer Column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Follow us</h3>
            <ul class="footer__list">
                <li>
                    <a
                        href="https://www.facebook.com/profile.php?id=100024716168207"
                        class="footer__link footer__follow"
                        >Facebook</a
                    >
                </li>
                <li>
                    <a href="https://www.facebook.com/rongdatdl" class="footer__link footer__follow">Instagram</a>
                </li>
                <li>
                    <a
                        href="https://www.facebook.com/profile.php?id=100010868675165"
                        class="footer__link footer__follow"
                        >Linkedin</a
                    >
                </li>
                <li>
                    <a href="https://www.facebook.com/nguyenvanthanh30042003" class="footer__link footer__follow"
                        >Twitter</a
                    >
                </li>
                <li>
                    <a href="https://www.facebook.com/trongtan.nguyen.988926/" class="footer__link footer__follow"
                        >Zalo</a
                    >
                </li>
            </ul>
        </div>

        <!-- Footer Column 5 -->
        <div class="footer__col d-sm-none">
            <h3 class="footer__heading">Legal</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__link">Website by Group 7</p>
                </li>
                <li>
                    <p href="" class="footer__link">©2022. All Rights Reserved</p>
                </li>
            </ul>
        </div>

        <!-- Footer Column 6 -->
        <div class="footer__col d-sm-none">
            <div class="footer-link d-none d-md-block">
                <p class="footer-link__desc">Download the WowWraps app today.</p>
                <div class="footer-link__thumbs">
                    <a href="#!">
                        <img src="./assets/images/link-app/ios-app.png" alt="" class="footer-link__thumb" />
                    </a>
                    <a href="#!">
                        <img src="./assets/images/link-app/android-app.png" alt="" class="footer-link__thumb" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__legal d-none d-sm-block">
        <h3 class="footer__heading">Legal</h3>
        <ul class="footer__list">
            <li>
                <p class="footer__link">Website by Group 7</p>
            </li>
            <li>
                <p href="" class="footer__link">©2022. All Rights Reserved</p>
            </li>
        </ul>
    </div>

    <div class="footer__download d-none d-sm-block">
        <div class="footer-link d-none d-md-block">
            <p class="footer-link__desc">Download the WowWraps app today.</p>
            <div class="footer-link__thumbs">
                <a href="#!">
                    <img src="./assets/images/link-app/ios-app.png" alt="" class="footer-link__thumb" />
                </a>
                <a href="#!">
                    <img src="./assets/images/link-app/android-app.png" alt="" class="footer-link__thumb" />
                </a>
            </div>
        </div>
    </div>
</div>
