<div class="header-food-res">
    <div class="container">
        <img
            src="./assets/images/foods/food-restaurant-left.png"
            alt=""
            class="header-food-res__thumb-left d-md-none"
        />
        <div class="header-food-res__content">
            <p class="header__desc">Welcome to Our Restaurant</p>
            <h2 class="header__heading">The Best Food For The Best Moments</h2>
            <p class="header__desc--bottom header-food-res__desc--bottom">
                We've got famous chefs and stars—Julia Child, Sophia Loren, Virginia Woolf—to thank for some of the
                greatest food quotes of all time.
            </p>

            <span class="header-food-res__btn">
                <a href="#!" class="header__btn-underline btn btn--text btn--text-link">View more</a>
            </span>
        </div>
        <img
            src="./assets/images/foods/food-restaurant-right.png"
            alt=""
            class="header-food-res__thumb-right d-md-none"
        />
    </div>
</div>
