<div class="container">
    <div class="header__content">
        <div class="row">
            <div class="col col-7 col-xl-6 col-lg-12">
                <div class="header-food-order__left">
                    <h2 class="header__heading header-food-order__heading">Order Healthy & Fresh Food Any Time</h2>
                    <p class="header__desc--bottom header-food-order__desc">
                        Italian food makes people think of big family dinners. So you may want to position your
                        restaurant as a place to bring the whole family.
                    </p>
                </div>
            </div>
            <div class="col col-5 col-xl-6 col-lg-12">
                <div class="header-food-order__right">
                    <div class="header-food-order__border">
                        <img
                            src="./assets/images/foods/food-order-main.png"
                            alt="Food order main"
                            class="header-food-order__main"
                        />
                        <img
                            src="./assets/images/foods/food-order-sub-1.png"
                            alt="Food order sub"
                            class="header-food-order__sub header-food-order__left"
                        />
                        <img
                            src="./assets/images/foods/food-order-sub-2.png"
                            alt="Food order sub"
                            class="header-food-order__sub header-food-order__bottom"
                        />
                        <img
                            src="./assets/images/foods/food-order-sub-3.png"
                            alt="Food order sub"
                            class="header-food-order__sub header-food-order__right"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
