<div class="container">
    <div class="header__content">
        <div class="header-webflow-res">
            <h2 class="header__heading header-webflow-res__heading">
                Nothing
                <img class="header-webflow-res__thumb" src="./assets/images/foods/webflow-restaurant-1.png" alt="" />
                Frings People
                <img class="header-webflow-res__thumb" src="./assets/images/foods/webflow-restaurant-2.png" alt="" />
                Together like Good
                <img
                    class="header-webflow-res__thumb"
                    src="./assets/images/foods/webflow-restaurant-3.png"
                    alt=""
                />Food.
            </h2>
            <p class="header-webflow-res__desc">
                Our target good service sit amet, consectetur adipiscing elit. Non quam magna vulputate aliquam, felis,
                aliquam eget ipsum fringilla. Aliquam enim arcu, feugiat cursus purus, elementum faucibus purus.
            </p>

            <a href="#!" class="header-webflow-res__btn header__btn-underline btn btn--text btn--text-link">
                Let’s see the menu
            </a>
        </div>
    </div>
</div>
