<div class="container">
    <div class="header__content">
        <div class="row">
            <div class="col col-7 col-xl-6 col-md-12">
                <div class="header__left">
                    <p class="header__desc">Hi, new friend</p>
                    <h2 class="header__heading">We do not cook, we create your emotions!</h2>
                    <p class="header__desc--bottom">
                        There's evidence that cooking, like other creative practices, can boost well-being, self-esteem,
                        and other measures of mental health.
                    </p>

                    <a href="./menu.html" class="header__btn-underline btn btn--text btn--text-link">Our menu</a>
                </div>
            </div>
            <div class="col col-5 col-xl-6 col-md-12">
                <div class="header__right">
                    <img
                        src="./assets/images/foods/food-restaurant-main.png"
                        alt="Food main"
                        class="header__food-main"
                    />
                    <span class="header__food-main--price">Price: $11</span>
                    <img
                        src="./assets/images/foods/food-restaurant-top.png"
                        alt="Food 2"
                        class="header__food-sub header__food-sub--top"
                    />
                    <img
                        src="./assets/images/foods/food-restaurant-mid.png"
                        alt="Food 3"
                        class="header__food-sub header__food-sub--mid"
                    />
                    <img
                        src="./assets/images/foods/food-restaurant-bottom.png"
                        alt="Food 4"
                        class="header__food-sub header__food-sub--bottom"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
