<div class="container">
    <div class="header__content">
        <div class="row">
            <div class="col col-7 col-lg-12">
                <div class="header-drink-coffee__left">
                    <h2 class="header__heading header-drink-coffee__heading">Rich Taste Great Aroma</h2>
                    <p class="header__desc--bottom header-drink-coffee__desc">
                        Italian food makes people think of big family dinners. So you may want to position your
                        restaurant as a place to bring the whole family.
                    </p>

                    <a href="#!" class="header-drink-coffee__btn header__btn-underline btn btn--text btn--text-link"
                        >Taste Coffee</a
                    >
                </div>
            </div>
            <div class="col col-5 col-lg-12">
                <div class="header-drink-coffee__right">
                    <div class="header-drink-coffee__border"></div>
                    <img
                        src="./assets/images/foods/drink-coffee.png"
                        alt="Drink Coffee"
                        class="header-drink-coffee__thumb"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
