<div class="container">
    <div class="menu-discover">
        <div class="row row-cols-2 row-cols-md-1">
            <div class="col">
                <div class="menu-discover__left">
                    <h2 class="menu__heading menu-discover__heading">Michelin Lunch, Dinner Or Both?</h2>
                    <p class="menu__desc menu-discover__desc">
                        It’s the story of an everlasting love affair, Dieter Delicioz and the Atlantic Ocean. Our
                        proximity to the abundant riches of the sea and Portugal’s excellent produce has provided a
                        constant source of inspiration for Chef L'delicio.
                    </p>

                    <a href="./" class="menu-discover__link menu__link btn btn--text">Discover Menu</a>
                </div>
            </div>

            <div class="col">
                <div class="menu-discover__right">
                    <img src="./assets/icons/flower-02.svg " alt="" class="menu-discover__icon" />
                    <img src="./assets/images/menu/menu-discover.png" alt="" class="menu-discover__thumb" />
                </div>
            </div>
        </div>
    </div>
</div>
