<div class="container">
    <div class="menu-offer menu-choose">
        <div class="menu__top">
            <p class="menu__desc">Our menu</p>
            <h2 class="menu__heading menu-offer__heading menu-choose__heading">Choose & Taste What You Like</h2>
            <p class="menu__desc menu-choose__desc">
                A list of top Bangladeshi food including mains, drinks, and deserts you must try while in Bangladesh,
                for an authentic experience. Check now!
            </p>
        </div>

        <div class="menu-offer__nav">
            <button class="menu-offer__btn menu-offer__btn--active">All</button>
            <button class="menu-offer__btn">Appetizer</button>
            <button class="menu-offer__btn">Soup</button>
            <button class="menu-offer__btn">Dessert</button>
            <button class="menu-offer__btn">Drinks</button>
        </div>

        <div class="menu-choose__separate"></div>

        <div class="menu-choose__list menu__list menu-offer__list d-block">
            <div class="row row-cols-2 g-3 g-lg-2 g-md-1 row-cols-md-1">
                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-01.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Chawli Beans and Mint Burger</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$54</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-02.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">American Chopsuey, Jain Recipe</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$16</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-03.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer Nuggets, Quick Paneer Deep-fried</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$15</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-04.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Stir Fried Mixed Vegetables in Butter</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$23</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-05.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Raw Chicken Fillet Garlic</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$25</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-06.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Makai Shorba, Thick Corn Soup</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$14</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-07.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Healthy Salmon Power Bowl</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$09</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-08.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer N Cheese Roll ( Wraps and Rolls)</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$10</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-choose__list menu__list menu-offer__list d-none">
            <div class="row row-cols-2 g-3 g-lg-2 g-md-1 row-cols-md-1">
                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-01.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Chawli Beans and Mint Burger</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$54</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-02.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">American Chopsuey, Jain Recipe</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$16</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-03.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer Nuggets, Quick Paneer Deep-fried</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$15</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-04.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Stir Fried Mixed Vegetables in Butter</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$23</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-05.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Raw Chicken Fillet Garlic</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$25</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-06.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Makai Shorba, Thick Corn Soup</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$14</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-07.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Healthy Salmon Power Bowl</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$09</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-08.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer N Cheese Roll ( Wraps and Rolls)</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$10</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-choose__list menu__list menu-offer__list d-none">
            <div class="row row-cols-2 g-3 g-lg-2 g-md-1 row-cols-md-1">
                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-01.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Chawli Beans and Mint Burger</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$54</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-02.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">American Chopsuey, Jain Recipe</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$16</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-03.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer Nuggets, Quick Paneer Deep-fried</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$15</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-04.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Stir Fried Mixed Vegetables in Butter</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$23</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-05.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Raw Chicken Fillet Garlic</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$25</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-06.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Makai Shorba, Thick Corn Soup</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$14</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-07.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Healthy Salmon Power Bowl</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$09</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-08.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer N Cheese Roll ( Wraps and Rolls)</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$10</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-choose__list menu__list menu-offer__list d-none">
            <div class="row row-cols-2 g-3 g-lg-2 g-md-1 row-cols-md-1">
                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-01.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Chawli Beans and Mint Burger</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$54</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-02.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">American Chopsuey, Jain Recipe</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$16</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-03.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer Nuggets, Quick Paneer Deep-fried</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$15</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-04.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Stir Fried Mixed Vegetables in Butter</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$23</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-05.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Raw Chicken Fillet Garlic</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$25</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-06.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Makai Shorba, Thick Corn Soup</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$14</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-07.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Healthy Salmon Power Bowl</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$09</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-08.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer N Cheese Roll ( Wraps and Rolls)</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$10</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-choose__list menu__list menu-offer__list d-none">
            <div class="row row-cols-2 g-3 g-lg-2 g-md-1 row-cols-md-1">
                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-01.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Chawli Beans and Mint Burger</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$54</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-02.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">American Chopsuey, Jain Recipe</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$16</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-03.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer Nuggets, Quick Paneer Deep-fried</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$15</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-04.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Stir Fried Mixed Vegetables in Butter</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$23</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-05.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Raw Chicken Fillet Garlic</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$25</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-06.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Makai Shorba, Thick Corn Soup</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$14</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-07.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Healthy Salmon Power Bowl</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$09</span>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-choose-item">
                        <div class="menu-choose-item__left">
                            <img
                                src="./assets/images/menu/menu-all-08.png"
                                alt=""
                                class="menu-choose-item__thumb menu-item__thumb"
                            />
                            <h3 class="menu-choose-item__title">Paneer N Cheese Roll ( Wraps and Rolls)</h3>
                        </div>

                        <span class="menu-choose-item__price menu-item__price">$10</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
        <div class="menu__list menu-offer__list d-none">
            <div class="row row-cols-3 row-cols-md-1">
                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-breakfast-01.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$54</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-breakfast-02.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$49</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-breakfast-03.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$59</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu__list menu-offer__list d-none">
            <div class="row row-cols-3 row-cols-md-1">
                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-dinner-01.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$54</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-dinner-02.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$49</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-dinner-03.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$59</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu__list menu-offer__list d-none">
            <div class="row row-cols-3 row-cols-md-1">
                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-lunch-01.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$54</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-lunch-02.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$49</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-lunch-03.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$59</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu__list menu-offer__list d-none">
            <div class="row row-cols-3 row-cols-md-1">
                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-starter-01.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$54</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-starter-02.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$49</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="menu-item">
                        <img src="./assets/images/menu/menu-starter-03.png" alt="" class="menu-item__thumb" />
                        <h3 class="menu-item__title">Egg Frittata Muffins. PIN IT</h3>
                        <p class="menu-item__desc">Fresh toasted sourdough bread with olive oil and pomegranate.</p>
                        <div class="menu-item__separate d-md-none"></div>

                        <div class="menu-item__act">
                            <a href="#!" class="menu-item__link">Order Now</a>
                            <span class="menu-item__price">$59</span>
                        </div>
                        <div class="menu-item__separate d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
