<div class="container">
    <div class="navbar__content">
        <!-- More -->
        <button class="top-bar__more d-none d-lg-block js-toggle" toggle-target="#navbar__main">
            <img src="./assets/icons/more.svg" alt="More" class="icon top-bar__more-icon" />
        </button>

        <!-- Logo -->
        <a href="./" class="logo">
            <img src="./assets/icons/logo.svg" alt="Quán nhậu Tự do" class="icon logo__img" />
            <h1 class="logo__title">Tự Do</h1>
        </a>

        <div id="navbar__main" class="navbar__main hide">
            <button class="navbar__close-btn js-toggle" toggle-target="#navbar__main">
                <img class="icon" src="./assets/icons/arrow-left.svg" alt="Arrow left" />
            </button>

            <ul class="navbar__list">
                <li class="navbar__item"><a href="./" class="navbar__link">Home</a></li>
                <li class="navbar__item"><a href="#!" class="navbar__link">Menu</a></li>
                <li class="navbar__item"><a href="#!" class="navbar__link">Blog</a></li>
                <li class="navbar__item"><a href="#!" class="navbar__link">Pages</a></li>
                <li class="navbar__item"><a href="#!" class="navbar__link">Contact</a></li>
            </ul>
        </div>

        <div class="navbar__overlay js-toggle" toggle-target="#navbar__main"></div>
        <!-- Actions -->
        <div class="top-act">
            <div class="top-act__user">
                <div class="top-act__username">
                    <span class="top-acr__username d-none d-lg-block d-sm-none">Imran Khan</span>
                    <img src="./assets/images/avatar.jpg" alt="Avatar" class="top-act__avatar" />
                </div>

                <!-- Dropdown  -->
                <div class="act-dropdown top-act__dropdown">
                    <div class="act-dropdown__inner user-menu">
                        <img src="./assets/icons/arrow-up.png" alt="" class="act-dropdown__arrow top-act__arrow" />

                        <div class="user-menu__top">
                            <img src="./assets/images/avatar.jpg" alt="" class="user-menu__avatar" />
                            <div>
                                <p class="user-menu__name">Imran Khan</p>
                                <p>@imrankhan</p>
                            </div>
                        </div>

                        <ul class="user-menu__list">
                            <li>
                                <a href="#!" class="user-menu__link">
                                    <img src="./assets/icons/user.svg" alt="" class="icon user-menu__icon" />
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="user-menu__link">
                                    <img src="./assets/icons/favourite.svg" alt="" class="icon user-menu__icon" />
                                    Favourite list
                                </a>
                            </li>
                            <li class="user-menu__separate">
                                <a href="#!" class="user-menu__link" id="switch-theme-btn">
                                    <img src="./assets/icons/sun-dark.svg" alt="" class="icon user-menu__icon" />
                                    <span>Dark mode</span>
                                </a>
                            </li>
                            <li class="user-menu__separate">
                                <a href="#!" class="user-menu__link">
                                    <img src="./assets/icons/setting.svg" alt="" class="icon user-menu__icon" />
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="./sign-in.html" class="user-menu__link">
                                    <img src="./assets/icons/logout.svg" alt="" class="icon user-menu__icon" />
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
