<div class="container">
    <div class="offer-03">
        <div class="row">
            <div class="col col-7 col-lg-6 col-md-12">
                <div class="offer-03__left">
                    <div class="offer-03__thumb-discount">
                        <img src="./assets/images/offers/offer-discount-plus.png" alt="" class="offer-03__thumb" />
                        <div class="offer-03__star">
                            <img src="./assets/icons/star-discount.svg" alt="" class="offer-03__star-icon" />
                            <h2 class="offer-02__heading offer-03__heading--star">25% Off</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-5 col-lg-6 col-md-12">
                <div class="offer-03__right">
                    <h3 class="offer-03__title">We Have Excellent Of Quality Pizza</h3>
                    <p class="offer-03__desc">
                        Craving for a bite of quality pizza? Make sure the pizza you order possesses these factors that
                        make an awesome slice. Fresh Ingredients.
                    </p>
                    <a href="#!" class="offer-03__btn btn btn--text">See all menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
