<div class="container">
    <div class="offer">
        <h2 class="offer__heading">Our Daily Offers</h2>
        <div class="row">
            <div class="col col-6 col-md-12">
                <div class="offer__left">
                    <div class="offer__border">
                        <div class="offer__title">Lunch Time</div>
                        <div class="offer__discount">
                            <span class="offer__discount-number">30%</span>
                            <span class="offer__discount-text">off</span>
                        </div>
                        <p class="offer__desc">We love food, lots of different and food, just like you.</p>

                        <a href="#!" class="offer__btn btn btn--primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col col-6 col-md-12">
                <div class="offer__list">
                    <!-- Offer item 1 -->
                    <div class="offer-item">
                        <img src="../assets/images/offers/offer-item-01.png" alt="" class="offer-item__thumb" />
                        <div class="offer-item__content">
                            <div class="offer-item__left">
                                <h3 class="offer-item__title">Spicy Club</h3>
                                <p class="offer-item__desc">
                                    Pork, chcken and vegetable fried rolls served with lettuce wraps
                                </p>
                            </div>
                            <span class="offer-item__price">$42</span>
                        </div>
                    </div>

                    <!-- Offer item 2 -->
                    <div class="offer-item">
                        <img src="../assets/images/offers/offer-item-02.png" alt="" class="offer-item__thumb" />
                        <div class="offer-item__content">
                            <div class="offer-item__left">
                                <h3 class="offer-item__title">Almond baked Brie</h3>
                                <p class="offer-item__desc">
                                    Pork, chcken and vegetable fried rolls served with lettuce wraps
                                </p>
                            </div>
                            <span class="offer-item__price">$38</span>
                        </div>
                    </div>

                    <!-- Offer item 3 -->
                    <div class="offer-item">
                        <img src="../assets/images/offers/offer-item-03.png" alt="" class="offer-item__thumb" />
                        <div class="offer-item__content">
                            <div class="offer-item__left">
                                <h3 class="offer-item__title">Tuscan Flatbread</h3>
                                <p class="offer-item__desc">
                                    Pork, chcken and vegetable fried rolls served with lettuce wraps
                                </p>
                            </div>
                            <span class="offer-item__price">$49</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
