<div class="container">
    <div class="offer-02">
        <div class="offer-02__top">
            <h2 class="offer-02__heading">Our Daily Offers</h2>
            <a href="#!" class="offer-02__link">
                Explore All Offers
                <img src="./assets/icons/arrow-right.svg" alt="" class="offer-02__icon" />
            </a>
        </div>
        <div class="row row-cols-2 row-cols-md-1">
            <div class="col">
                <div class="offer-02__left">
                    <div class="offer-02__discount">
                        <span class="offer-02__discount-number">30%</span>
                        <span class="offer-02__discount-text">Discount Offer</span>
                    </div>
                    <p class="offer-02__desc">We love food, lots of different and food, just like you.</p>

                    <a href="#!" class="offer-02__btn btn btn--primary">Order Now</a>
                </div>
            </div>
            <div class="col">
                <div class="offer-02__right">
                    <div class="offer-02__discount">
                        <span class="offer-02__discount-number">30%</span>
                        <span class="offer-02__discount-text">Discount Offer</span>
                    </div>
                    <p class="offer-02__desc">We love food, lots of different and food, just like you.</p>

                    <a href="#!" class="offer-02__btn btn btn--primary">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
