<div class="order-01">
    <div class="container">
        <h2 class="order-01__heading">Online Reservation</h2>
        <p class="order-01__desc">Book your table for lunch or dinner.</p>

        <div class="order-01__form">
            <div class="row row-cols-3 g-3 row-cols-lg-2 row-cols-sm-1 g-sm-2">
                <!-- Item 1 -->
                <div class="col">
                    <div class="order-01__group">
                        <input type="text" placeholder="Your name" class="order-01__input" />
                        <img src="./assets/icons/personal.svg" alt="" class="order-01__icon" />
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="col">
                    <div class="order-01__group">
                        <input type="tel" placeholder="Phone number" class="order-01__input" />
                        <img src="./assets/icons/call.svg" alt="" class="order-01__icon" />
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="col">
                    <div class="order-01__group">
                        <input type="email" placeholder="Email address" class="order-01__input" />
                        <img src="./assets/icons/personal.svg" alt="" class="order-01__icon" />
                    </div>
                </div>

                <!-- Item 4 -->
                <div class="col">
                    <div class="order-01__group">
                        <select name="Person" id="" class="order-01__input order-01__select">
                            <option value="1" selected>1 Person</option>
                            <option value="2">2 Person</option>
                            <option value="3">3-4 Person</option>
                            <option value="4">4-6 Person</option>
                            <option value="5">6-10 Person</option>
                            <option value="6">10-20 Person</option>
                            <option value="7">>20 Person</option>
                        </select>
                        <img src="./assets/icons/arrow-down.svg" alt="" class="order-01__icon" />
                    </div>
                </div>

                <!-- Item 5 -->
                <div class="col">
                    <div class="order-01__group">
                        <input type="date" placeholder="Your name" class="order-01__input" id="date-input" />
                        <img src="./assets/icons/calender.svg" alt="" class="order-01__icon" id="date-icon" />
                    </div>
                </div>

                <!-- Item 6 -->
                <div class="col">
                    <div class="order-01__group">
                        <input type="time" placeholder="Your name" class="order-01__input" id="time-input" />
                        <img src="./assets/icons/time-circle.svg" alt="" class="order-01__icon" id="time-icon" />
                    </div>
                </div>
            </div>
        </div>

        <div class="order-01__act">
            <button class="order-01__btn">Rerserve Your Table Now</button>
        </div>
    </div>
</div>
