<div class="order-05">
    <div class="container">
        <h2 class="order-05__heading">Book A Table</h2>

        <div class="order-05__inner">
            <div class="order-05__left">
                <div class="row row-cols-2 g-3 g-lg-2 row-cols-sm-1">
                    <div class="col">
                        <input type="text" placeholder="Your name" class="order-05__input" />
                    </div>

                    <div class="col">
                        <input type="tel" placeholder="Phone number" class="order-05__input" />
                    </div>

                    <div class="col">
                        <input type="email" placeholder="Email" class="order-05__input" />
                    </div>

                    <div class="col">
                        <input type="text" placeholder="2 Person" class="order-05__input" />
                    </div>

                    <div class="col">
                        <input type="text" placeholder="5:30PM" class="order-05__input" />
                    </div>

                    <div class="col">
                        <input type="text" placeholder="10/10/2024" class="order-05__input" />
                    </div>
                </div>

                <div class="order-05__act">
                    <button class="order-05__btn">Book now</button>
                </div>
            </div>
            <div class="order-05__right">
                <img src="./assets/icons/flower-02.svg" alt="" class="d-md-none order-05__icon" />
            </div>
        </div>
    </div>
</div>
