<div class="container">
    <div class="order-04">
        <div class="row row-cols-2 row-cols-md-1">
            <div class="col">
                <div class="menu-discover__left">
                    <h2 class="order-04__heading menu__heading menu-discover__heading">Chicken King Burger</h2>
                    <p class="order-04__desc menu__desc menu-discover__desc">
                        Order at Burger King Bangladesh near you with foodpanda
                        <br />
                        ✓ Delivery to your home or office <br />
                        ✓ Safe & easy payment options.
                    </p>

                    <a href="#!" class="order-04__btn">Order Now</a>
                </div>
            </div>

            <div class="col">
                <div class="menu-discover__right">
                    <img
                        src="./assets/icons/decor-order-01.svg "
                        alt=""
                        class="order-04__decor order-04__decor-top menu-discover__icon"
                    />
                    <img src="./assets/images/order/order-04.png" alt="" class="menu-discover__thumb" />
                    <img
                        src="./assets/icons/decor-order-02.svg "
                        alt=""
                        class="order-04__decor order-04__decor-bottom"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
