<div class="order-03">
    <div class="container">
        <div class="order-03__content">
            <div class="row">
                <div class="col col-8 col-md-12">
                    <div class="order-03__inner">
                        <h2 class="order-03__heading">Get Free Delivery!</h2>
                        <p class="order-03__desc">
                            As well known and we are very busy all days beforeso we can guarantee your seat.
                        </p>
                        <h4 class="order-03__call">Call: +123666604</h4>
                    </div>
                </div>
                <div class="col col-4 col-md-12">
                    <div class="order-03__right">
                        <img src="./assets/images/order/order-03.png" alt="" class="order-03__thumb" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
