<div class="container">
    <div class="order-07">
        <div class="row g-0 row-cols-md-1">
            <div class="col">
                <div class="order-07-left">
                    <div class="order-07-left__inner">
                        <h4 class="order-07-left__title">Find us gere</h4>
                        <div class="order-07-left__content">
                            <p class="order-07-left__desc">Avenue Marina 34568 NY (U.S)</p>
                            <p class="order-07-left__desc">+0123 456 7890</p>
                            <p class="order-07-left__desc">hellouihut@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="order-07-right">
                    <div class="order-07-right__inner">
                        <h4 class="order-07-right__title">Opening Times</h4>

                        <div class="order-07-right__timeline">
                            <p class="order-07-right__day">Mon</p>
                            <p class="order-07-right__time">17:00 to 23:00</p>
                        </div>

                        <div class="order-07-right__timeline">
                            <p class="order-07-right__day">Tue</p>
                            <p class="order-07-right__time">17:00 to 23:00</p>
                        </div>

                        <div class="order-07-right__timeline">
                            <p class="order-07-right__day">Web</p>
                            <p class="order-07-right__time">17:00 to 23:00</p>
                        </div>

                        <div class="order-07-right__timeline">
                            <p class="order-07-right__day">Thu</p>
                            <p class="order-07-right__time">17:00 to 23:00</p>
                        </div>

                        <div class="order-07-right__timeline">
                            <p class="order-07-right__day">Fri</p>
                            <p class="order-07-right__time">17:00 to 23:00</p>
                        </div>

                        <div class="order-07-right__timeline">
                            <p class="order-07-right__day">Sat/Sun</p>
                            <p class="order-07-right__time">17:00 to 23:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
