<div class="container">
    <div class="product-detail">
        <div class="row row-cols-2 row-cols-md-1">
            <div class="col">
                <div class="product-detail__left">
                    <img src="./assets/images/product/product-detail.png" alt="" class="product-detail__thumb" />
                </div>
            </div>
            <div class="col">
                <div class="product-detail__right">
                    <h2 class="product-detail__heading">Crispy chicken breasts</h2>
                    <div class="product-detail__rate">
                        <img src="./assets/icons/star.svg" alt="" class="product-detail__star" />
                        <img src="./assets/icons/star.svg" alt="" class="product-detail__star" />
                        <img src="./assets/icons/star.svg" alt="" class="product-detail__star" />
                        <img src="./assets/icons/star.svg" alt="" class="product-detail__star" />
                        <img src="./assets/icons/star.svg" alt="" class="product-detail__star" />
                        <p class="product-detail__reviewer">(1 customer review)</p>
                    </div>
                    <span class="product-detail__price-product">$54</span>
                    <p class="product-detail__desc-product">
                        Aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur uis autem vel eum iure
                        reprehenderit.
                    </p>
                    <div class="cart-item__input">
                        <div class="cart-item__input-left">
                            <button class="cart-item__input-btn cart-item__input-row">
                                <img src="./assets/icons/minus.svg" alt="" />
                            </button>
                            <p class="cart-item__input-quantity cart-item__input-row">1</p>
                            <button class="cart-item__input-btn cart-item__input-row">
                                <img src="./assets/icons/plus.svg" alt="" />
                            </button>
                        </div>
                        <a href="#!" class="cart-item__btn btn btn--primary">ADD TO CART</a>
                    </div>
                    <div class="product-detail__origin">
                        <div class="product-detail__code">
                            SKU:
                            <span class="product-detail__code-name">PT322</span>
                        </div>
                        <div class="product-detail__code">
                            CATEGORY:
                            <span class="product-detail__code-name">Lunch</span>
                        </div>
                        <div class="product-detail__code">
                            TAGS:
                            <span class="product-detail__code-name">Sweets,Ghevar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-detail__bottom">
            <div class="product-detail__cate">
                <button class="product-detail__title product-detail__cate--active">Description</button>
                <button class="product-detail__title">Reviews(1)</button>
            </div>

            <div class="product-detail__index d-block">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                </p>
                <p>
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                    porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
                    feugiat a, tellus.
                </p>
            </div>

            <div class="product-detail__index d-none">
                <div class="product-detail-review">
                    <div class="product-detail-review__left">
                        <img src="./assets/images/avatar/avatar-01.png" alt="" class="product-detail-review__avatar" />
                    </div>
                    <div class="product-detail-review__right">
                        <div class="product-detail-review__name">
                            Jamie Milson
                            <p>-</p>
                            <p class="product-detail-review__time">March 18, 2022</p>
                        </div>
                        <p class="product-detail-review__desc">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus.
                        </p>
                        <div class="product-detail-review__rate">
                            <img src="./assets/icons/star.svg" alt="" class="product-detail-review__star" />
                            <img src="./assets/icons/star.svg" alt="" class="product-detail-review__star" />
                            <img src="./assets/icons/star.svg" alt="" class="product-detail-review__star" />
                            <img src="./assets/icons/star.svg" alt="" class="product-detail-review__star" />
                            <img src="./assets/icons/star.svg" alt="" class="product-detail-review__star" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
