@use "../abstracts";

.footer {
    margin: 50px 0;
    &__row {
        display: grid;
        grid-template-columns: 2.8fr 1.3fr 2fr 1fr 1.8fr;
        gap: 72px;

        @include abstracts.screen(xxl) {
            gap: 50px;
        }

        @include abstracts.screen(xl) {
            gap: 36px;
        }

        @include abstracts.screen(lg) {
            grid-template-columns: 2fr 1fr 1.5fr;
        }

        @include abstracts.screen(md) {
            grid-template-columns: 1.5fr 1.8fr;
        }

        @include abstracts.screen(md) {
            grid-template-columns: 1.2fr 1.8fr;
            gap: 20px;
        }
    }

    &__logo {
        margin-left: 0 !important;

        @include abstracts.screen(md) {
            margin-bottom: 20px;
        }
    }

    &__logo-title {
        height: 48px;
        line-height: 48px;
        font-size: 3rem;

        @include abstracts.screen(xxl) {
            font-size: 2.4rem;
        }

        @include abstracts.screen(xl) {
            font-size: 2rem;
        }

        @include abstracts.screen(sm) {
            font-size: 2.4rem;
        }
    }

    &-link {
        margin-top: 78px;

        @include abstracts.screen(xxl) {
            margin-top: 48px;
        }

        @include abstracts.screen(md) {
            margin-top: 0;
        }

        &__desc {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 162.5%;
            white-space: 2;
            width: 211px;

            @include abstracts.screen(md) {
                width: 100%;
            }
        }

        &__thumbs {
            display: flex;
            gap: 18px;
            margin-top: 18px;

            @include abstracts.screen(lg) {
                flex-direction: column;
            }

            @include abstracts.screen(md) {
                flex-direction: row;
            }

            & a {
                width: 50%;

                @include abstracts.screen(lg) {
                    width: 124px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &__thumb {
            width: 100%;
        }
    }

    &__heading {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        line-height: 130%;

        user-select: none;

        @include abstracts.screen(xl) {
            font-size: 1.8rem;
        }
    }

    &__list {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__link {
        &:hover {
            color: var(--primary-color);
            border-color: var(--primary-color);
        }
    }

    &__follow {
        padding-bottom: 3px;
        border-bottom: 1px solid var(--white-8-color);
    }

    &__legal {
        margin-top: 40px;
    }

    &__download {
        margin-top: 50px;
    }
}
