@use "../abstracts";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__row {
        display: flex;
        gap: 30px;
        margin-top: 24px;

        @include abstracts.screen(md) {
            flex-direction: column;
            gap: 20px;
        }

        @include abstracts.screen(sm) {
            gap: 10px;
        }

        > * {
            flex: 1;
        }
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: flex-end;
            margin-top: 10px;
            justify-content: space-between;

            @include abstracts.screen(md) {
                margin-top: 0;
            }
        }
    }

    &__text-input {
        border-radius: 10px;
        border: 1px solid #b9babe;
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;

        padding: 0 12px;
        border-radius: 10px;
        border: 1px solid #b9babe;

        &:focus-within {
            border: 2px solid var(--primary-color);
            color: var(--white-color);
        }
    }

    &__text-area {
        padding: 12px;
        height: 100px;
        margin-top: 10px;

        border-bottom: 1px solid var(--white-8-color);

        &-input {
            resize: none;
        }
    }

    &__text-input {
        margin-top: 12px;
        height: 46px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        // &--small {
        //     height: 42px;
        // }

        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__input,
    &__text-area-input {
        flex: 1;
        width: 100%;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;

        &::placeholder {
            color: var(--white-8-color);
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__input {
        &-icon {
            margin-left: 12px;
        }
    }

    &__error {
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: $error-color;
        display: none;
    }

    &__input-icon-error {
        display: none;
        margin-left: 12px;

        animation: shake 0.5s;
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        color: var(--white-color);

        &--medium {
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }

        &--small {
            margin-bottom: 10px;
            font-size: 1.6rem;
        }
    }

    &__rating {
        margin-top: 30px;
        position: relative;

        &-star {
            display: flex;
            position: absolute;
            left: 102px;
            top: 3px;
        }
    }

    &__checkbox {
        position: relative;

        display: flex;
        align-items: center;
        user-select: none;
        margin-top: 24px;

        &-label {
            margin-left: 29px;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            font-family: "Plus Jakarta Sans", sans-serif;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1px solid #9e9da8;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            border-color: var(--primary-color);
            background: var(--primary-color);
        }

        &::after {
            width: 15px;
            height: 8px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            left: 2px;
            top: 4px;

            @include abstracts.screen(md) {
                top: 14px;
            }
        }
    }
}
