@use "../abstracts";

.countdown {
    --height-countdown: 200px;

    height: var(--height-countdown);
    width: 100%;
    margin-top: 90px;

    background: url(../../assets/images/foods/count-down.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;

    @include abstracts.screen(lg) {
        --height-countdown: 150px;
        margin-top: 40px;
    }

    @include abstracts.screen(md) {
        --height-countdown: 120px;
    }

    @include abstracts.screen(sm) {
        --height-countdown: 380px;
        background: url(../../assets/images/foods/count-down-02.png);
        // background-size: ;
    }

    &__inner {
        height: var(--height-countdown);
        // background: linear-gradient(269deg, rgba(0, 0, 0, 0.2) 21.08%, rgba(0, 0, 0, 0) 38.98%), rgba(17, 17, 20, 0.6);
        // backdrop-filter: blur(2.5px);
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        @include abstracts.screen(sm) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 18px;
        }
    }

    &__item {
        display: flex;
        // margin-top: 80px;
        gap: 20px;
        user-select: none;

        @include abstracts.screen(xl) {
            // margin-top: 50px;
        }

        @include abstracts.screen(md) {
            gap: 10px;
            // margin-top: 20px;
        }

        @include abstracts.screen(sm) {
            gap: 20px;
        }
    }

    &__left {
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 115.625%;

        @include abstracts.screen(lg) {
            font-size: 5rem;
        }

        @include abstracts.screen(md) {
            font-size: 4rem;
        }

        @include abstracts.screen(sm) {
            font-size: 6rem;
        }
    }

    &__right {
        width: 150px;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 141.667%;
        text-transform: capitalize;

        @include abstracts.screen(lg) {
            font-size: 2rem;
            width: 130px;
        }

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            width: 120px;
        }

        @include abstracts.screen(sm) {
            font-size: 2.2rem;
            width: 150px;
        }
    }
}

.countdown-02 {
    background: var(--primary-color);
    margin-top: 70px;

    &__inner {
        height: 200px;

        @include abstracts.screen(xl) {
            height: 180px;
        }

        @include abstracts.screen(lg) {
            height: 150px;
        }

        @include abstracts.screen(md) {
            height: auto;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include abstracts.screen(md) {
            flex-direction: column;
            gap: 30px;
            padding: 40px 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        color: var(--dark-color);

        font-size: 6.4rem;
        font-weight: 500;
        line-height: 115.625%;

        @include abstracts.screen(xxl) {
            font-size: 5.6rem;
        }

        @include abstracts.screen(xl) {
            font-size: 5rem;
        }

        @include abstracts.screen(lg) {
            font-size: 4rem;
        }

        @include abstracts.screen(md) {
            font-size: 6.4rem;
        }
    }

    &__desc {
        color: var((--dark-8-color));

        font-size: 3rem;
        font-weight: 500;
        line-height: 133.333%;

        @include abstracts.screen(xxl) {
            font-size: 2.6rem;
        }

        @include abstracts.screen(xl) {
            font-size: 2.2rem;
        }

        @include abstracts.screen(lg) {
            font-size: 1.6rem;
        }

        @include abstracts.screen(md) {
            font-size: 3rem;
        }
    }
}

.countdown-04 {
    &__inner {
        margin-top: 40px;
        height: 210px;

        @include abstracts.screen(lg) {
            height: 150px;
        }

        @include abstracts.screen(sm) {
            height: 100%;
            margin-bottom: 20px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__icon {
        color: var(--primary-color);

        @include abstracts.screen(lg) {
            width: 46px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: var(--primary-color);
        font-family: "Butler Stencil", sans-serif;
        font-size: 3rem;
        font-weight: 500;
        line-height: 133.333%;

        @include abstracts.screen(lg) {
            font-size: 2.2rem;
        }
    }

    &__desc {
        color: var(--white-8-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 162.5%;

        @include abstracts.screen(lg) {
            font-size: 1.2rem;
        }
    }
}
