@use "../abstracts";

.order-01 {
    margin-top: 100px;

    @include abstracts.screen(md) {
        margin-top: 80px;
    }

    background: url(../../assets/images/order/order-01.png) no-repeat;
    background-size: cover;
    background-position: center;

    &__heading {
        padding-top: 40px;
        text-align: center;
        margin: auto;
        width: 563px;

        @include abstracts.screen(md) {
            font-size: 5rem;
            width: 460px;
        }

        @include abstracts.screen(sm) {
            font-size: 5rem;
            width: 100%;
        }
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 162.5%;
        text-align: center;
    }

    &__form {
        margin-top: 60px;
    }

    &__group {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 56px;

        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1px);
    }

    &__select {
        background: transparent;
        border: none;
        appearance: none;
        padding: 5px 0px;

        & > option {
            background: var(--dark-color);
            padding: 5px;

            @include abstracts.screen(sm) {
                width: 80px;
            }
        }
    }

    &__input {
        padding: 5px 0s;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 162.5%;
        color: var(--white-color);
    }

    &__icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 15px;
        pointer-events: none;
    }

    &__act {
        margin-top: 48px;
        display: flex;
        justify-content: center;
        padding-bottom: 110px;
    }

    &__btn {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 162.5%;
        color: var(--primary-color);
        padding-bottom: 5px;
        border-bottom: 1px solid var(--primary-color);

        translate: 0;
        transition: translate 0.2s;

        &:hover {
            translate: 0 -4px;
        }
    }
}

.order-02 {
    background: url(../../assets/images/order/order-02.png) no-repeat;
    background-size: cover;
    background-position: center;

    &__content {
        padding: 84px 0;
        display: flex;
        justify-content: center;

        @include abstracts.screen(lg) {
            padding: 60px 0;
        }

        @include abstracts.screen(md) {
            padding: 30px 0;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 770px;
        background: rgba(17, 17, 20, 0.5);
        backdrop-filter: blur(2px);

        @include abstracts.screen(lg) {
            width: calc(100vw - 20%);
        }

        @include abstracts.screen(sm) {
            width: calc(100% - 10%);
        }
    }

    &__heading {
        text-align: center;
        margin-top: 46px;
        width: 570px;

        @include abstracts.screen(lg) {
            width: calc(100vw - 30%);
            font-size: 5.6rem;
        }

        @include abstracts.screen(md) {
            font-size: 5rem;
            margin-top: 34px;
        }

        @include abstracts.screen(sm) {
            font-size: 3.4rem;
        }
    }

    &__desc {
        margin-top: 6px;
        color: var(--white-color);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 158.333%;

        @include abstracts.screen(sm) {
            margin-top: 18px;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 155.556%;
        }
    }

    &__btn {
        margin: 38px 0 46px;
        padding: 8px 30px;
        background-color: var(--primary-color);
        color: var(--white-color);

        &:hover {
            opacity: 0.9;
        }

        @include abstracts.screen(sm) {
            margin: 54px 0 40px;
        }
    }
}

.order-03 {
    &__content {
        background: #000;
        margin: 48px 0;
    }

    &__inner {
        margin: 40px;
        @include abstracts.screen(sm) {
            margin: 40px 0 40px 30px;
        }
    }

    &__heading {
        @include abstracts.screen(xl) {
            font-size: 6rem;
        }

        @include abstracts.screen(lg) {
            font-size: 4rem;
        }

        @include abstracts.screen(sm) {
            font-size: 3.4rem;
        }
    }

    &__desc {
        width: 510px;
        font-size: 16px;
        font-weight: 400;
        line-height: 162.5%;

        @include abstracts.screen(xl) {
            width: 100%;
        }

        @include abstracts.screen(sm) {
            margin-top: 14px;
            width: 277px;
            font-size: 1.4rem;
        }
    }

    &__call {
        display: inline-block;
        margin-top: 40px;
        padding: 14px 30px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 133.333%;

        background: var(--primary-color);
        color: var(--white-color);

        @include abstracts.screen(lg) {
            padding: 8px 24px;
        }

        @include abstracts.screen(md) {
            font-size: 2.6rem;
        }

        @include abstracts.screen(sm) {
            margin-top: 28px;
            font-size: 2.2rem;
            padding: 8px 30px;
        }
    }

    &__right {
        @include abstracts.screen(md) {
            display: flex;
            justify-content: center;
        }
    }

    &__thumb {
        width: 321px;
        margin: 26px 120px 26px 0;

        @include abstracts.screen(xl) {
            margin-right: 0;
        }

        @include abstracts.screen(sm) {
            width: 279px;
            margin-top: 10px;
        }
    }
}

.order-04 {
    margin: 64px 0 120px;

    &__heading {
        width: 570px;

        @include abstracts.screen(xl) {
            width: 100%;
        }

        @include abstracts.screen(sm) {
            font-size: 3.4rem;
        }
    }

    &__desc {
        margin-top: 20px;
        line-height: 1.5;

        @include abstracts.screen(sm) {
            margin-top: 14px;
            font-size: 1.4rem;
        }
    }

    &__btn {
        width: 84px;
        margin-top: 30px;
        color: var(--primary-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 162.5%;
        padding: 5px 0;
        border-bottom: 1px solid var(--primary-color);

        translate: 0;
        transition: translate 0.2s;

        &:hover {
            translate: 0 -4px;
        }
    }

    &__decor {
    }

    &__decor-top {
        top: 20px;
        z-index: 1;

        @include abstracts.screen(lg) {
            width: 70px;
            top: 10px;
        }
    }

    &__decor-bottom {
        position: absolute;
        bottom: -60px;
        left: -60px;

        @include abstracts.screen(xl) {
            width: 90px;
            bottom: -54px;
            left: -54px;
        }

        @include abstracts.screen(lg) {
            width: 76px;
            bottom: -46px;
            left: -46px;
        }
    }
}

.order-05 {
    margin: 78px 0;

    &__heading {
        text-align: center;
    }

    &__inner {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1.5fr 1fr;

        @include abstracts.screen(lg) {
            grid-template-columns: 2fr 1fr;
        }

        @include abstracts.screen(md) {
            display: flex;
            flex-direction: column;
        }
    }

    &__left {
        padding: 40px;
        background: var(--primary-color);

        @include abstracts.screen(lg) {
            padding: 20px;
        }

        @include abstracts.screen(sm) {
            padding: 30px 16px 36px 16px;
        }
    }

    &__input {
        width: 100%;
        padding: 15px 20px;
        color: var(--white-color);
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: rgba(17, 17, 20, 0.1);
        backdrop-filter: blur(1px);

        font-size: 1.6rem;
        font-weight: 500;
        line-height: 162.5%;

        @include abstracts.screen(lg) {
            padding: 12px 20px;
        }

        &::placeholder {
            color: var(--white-color);
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 162.5%;
        }
    }

    &__act {
        margin-top: 30px;
        width: 100%;
        text-align: center;
        background: var(--dark-color);

        @include abstracts.screen(lg) {
            margin-top: 20px;
        }
    }

    &__btn {
        padding: 15px 20px;

        @include abstracts.screen(lg) {
            padding: 12px 20px;
        }
    }

    &__right {
        position: relative;
        background: url(../../assets/images/order/order-05.png) no-repeat;
        background-size: cover;
        background-position: center;

        @include abstracts.screen(md) {
            width: 100%;
            height: 300px;
        }

        @include abstracts.screen(sm) {
            height: 280px;
        }
    }

    &__icon {
        position: absolute;
        top: -38px;
        right: -42px;
        z-index: -1;
    }
}

.order-06 {
    margin-top: 150px;

    @include abstracts.screen(lg) {
        margin-top: 120px;
    }

    @include abstracts.screen(md) {
        margin-top: 70px;
    }

    &__left {
        padding: 40px;
        background: var(--primary-color);

        @include abstracts.screen(lg) {
            padding: 30px;
        }
    }

    &__heading {
        font-size: 40px;
        font-weight: 500;
        line-height: 125%;
        text-transform: capitalize;
        color: var(--dark-color);
    }

    &__booking {
        margin-top: 40px;
        display: flex;
        gap: 100px;

        @include abstracts.screen(lg) {
            margin-top: 20px;
            gap: 80px;
        }
    }

    &__set {
        &-title {
            color: var(--dark-color);
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 141.667%;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        &-date {
            display: flex;
            align-items: center;
            gap: 3px;

            &--now {
                font-size: 4rem;
                font-weight: 500;
                line-height: 125%;

                color: var(--dark-color);
            }
        }

        &-month {
            height: 42px;

            &--now {
                display: block;
                font-family: "Plus Jakarta Sans", sans-serif;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 171.429%;

                color: var(--dark-color);
            }

            & img {
                width: 10px;
                margin-left: 8px;
                margin-top: 2px;
            }
        }

        &-guests {
            display: flex;
            position: relative;

            &--now {
                font-size: 4rem;
                font-weight: 500;
                line-height: 125%;

                color: var(--dark-color);
            }

            &__icon::before {
                content: "";
                position: absolute;
                padding: 4px;
                background: url(../../assets/icons/booking-arrow-up.svg) no-repeat;
                width: 100%;
                height: 5px;
                top: 8px;
                left: 30px;
            }

            &__icon::after {
                content: "";
                position: absolute;
                padding: 4px;
                background: url(../../assets/icons/booking-arrow-down.svg) no-repeat;
                width: 100%;
                height: 5px;
                top: 24px;
                left: 30px;
            }
        }
    }

    &__act {
        margin-top: 74px;
        width: 311px;
        background: var(--dark-color);

        @include abstracts.screen(lg) {
            margin-top: 50px;
            width: 100%;
        }
    }

    &__btn {
        width: 100%;
        padding: 15px 0;

        &:hover {
            color: var(--primary-color);
        }
    }

    &__right {
        position: relative;
        background: url(../../assets/images/order/order-06.png) no-repeat;
        background-position: center;
        background-size: cover;
        filter: opacity(0.8);
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        @include abstracts.screen(md) {
            height: 258px;
        }

        @include abstracts.screen(sm) {
            height: 238px;
        }
    }

    &__icon {
        position: absolute;
        top: -60px;
        right: -60px;
    }
}

.order-07 {
    margin-top: 150px;

    @include abstracts.screen(lg) {
        margin-top: 120px;
    }

    @include abstracts.screen(md) {
        margin-top: 76px;
    }

    &-left {
        background: url(../../assets/images/order/order-07.png) no-repeat;
        background-position: center;
        background-size: cover;

        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        @include abstracts.screen(md) {
            height: 360px;
        }

        &__inner {
            text-align: center;
        }

        &__title {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 141.667%;
            text-transform: capitalize;
        }

        &__content {
            margin-top: 10px;
        }

        &__desc {
            color: var(--white-color);
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 162.5%;
        }
    }

    &-right {
        background: var(--primary-color);

        display: flex;
        align-items: center;
        justify-content: center;

        &__title {
            color: var(--dark-color);
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 141.667%;
            text-transform: capitalize;
            text-align: center;
        }

        &__inner {
            color: var(--dark-color);
            width: 296px;
            padding: 73px 0;

            @include abstracts.screen(xl) {
                padding: 50px 0;
            }

            @include abstracts.screen(lg) {
                padding: 40px 0;
                width: 256px;
            }
        }

        &__timeline {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            font-size: 1.6rem;
            font-weight: 400;
            line-height: 162.5%;

            @include abstracts.screen(lg) {
                margin-top: 6px;
            }
        }
    }
}
