*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Plus Jakarta Sans, sans-serif;
    background: #111114;
    color: var(--white-8-color);
}

.icon {
    filter: var(--icon-color);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
    padding: 0;
}

input,
textarea {
    background: transparent;
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}

p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 162.5%;
}

span,
h1,
h2,
h3,
h4 {
    font-family: "Libre Bodoni", sans-serif;
    color: var(--white-color);
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;
}
