*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Plus Jakarta Sans, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}
